.abi{
    /* color: #febf00; */
font-size: 20px;
  color: #002958;
  font-family: Poppins;
  font-weight: 600;
}
.ceo{
  color: #002958;
  font-family: Poppins;
  font-weight: 600;
}
.abii{
  width: 100%;
  overflow: hidden;
}