.carousel{
    height: 91vh;
  }
  .cimage{
    height: 91vh;
  }
.carousel-caption{
    margin-bottom: 50px;
}
.carousel-indicators{
    
    margin-bottom: 85px;
}
.carousel-indicators{

    display: none;
}
.carousel-control-next{
  
    display: none;

}
.carousel-control-prev{
    display: none;

}